<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maku.calendate">

    <application
        android:name=".CalenDate"
        android:allowBackup="true"
        android:icon="@drawable/calendate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calendate"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.ListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name">
        </activity>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
        <receiver
            android:name=".receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
    </application>

</manifest>